body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #145f8aa0;
}
.dark-mode {
    background-color: black;
    color: yellow;
}

.butt button {
    background-color: black;
    color: white;
    padding: 10px 20px; /* Optional: Adjust padding as needed */
    border: none; /* Optional: Remove border */
    cursor: pointer;
    font-size: 1em; /* Optional: Adjust font size as needed */
}
.container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    max-width: 600px; /* Adjust as needed */
    margin: 0 auto; /* Center the container */
}

.left-section,
.right-section {
    width: 48%; /* Adjust as needed */
}

#randomLetter {
    font-size: 4em;
    margin: 0;
    color: #333;
}

.typed h1 {
    font-size: 1.5em; /* Increase the font size of "You typed" */
    margin-bottom: 5px;
}

/* Use a more specific selector */
div.typed h2 {
    font-size: 2em; /* Increase the font size of the "You typed" letter */
    color: red; /* Set the font color to red */
}

.right-section p {
    font-size: 1.5em;
    color:rgb(3, 3, 255); /* Increase the font size of the score */
    margin-top: 4;
    padding: 1%;
    margin-left: 3 rem;
    text-align: center; /* Center the text in the right section */
    align-self: center; /* Center the right section vertically */
}

#score {
    font-weight: bold;
    font-size: 4rem;
    
}
